<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="scipt">
    <script src="/assets/bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/bootstrap/js/jquery.validate-1.19.3.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/bootstrap/js/popper-v1.16.0.min.js"></script>
    <script src="/assets/bootstrap/js/jquery.number.js"></script>
    <!-- <script src="/assets/bootstrap/js/app.js"></script> -->
    <script src="/assets/bootstrap/js/app.js"></script>
    <script src="/assets/bootstrap/js/validate_cus.js"></script>
</th:block>