<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>List Customer</title>
    <link rel="shortcut icon" href="/assets/image/lisaa.gif" type="image/x-icon">
    <th:block th:replace="layout/head :: head"></th:block>

</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>List of Customers</h1>
            </div>
            <div class="col-sm-7">
                <div class="float-right">
                    <a href="#" data-toggle="modal" data-target="#ModelListTransfer"
                       class="btn btn-outline-light bg-primary">
                        <i class="fas fa-history" aria-hidden="true">
                        </i>
                        <span>Transfer Money Information</span>
                    </a>
                    <a type="button" class="btn btn-outline-secondary btn-light create" data-toggle="modal"
                       data-target="#modelCreate">
                        <i class="fas fa-plus-square" aria-hidden="true">
                        </i>
                        <span>Add New Customers</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="currentRow" value="tr_555">
    <table class="table table-hover" id="tbListCustomers">
        <thead>
        <tr class="text-center bg-success">
            <th>#</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Balance</th>
            <th>Province</th>
            <th>District</th>
            <th>Ward</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody class="text-center">

        </tbody>
    </table>
</div>

<th:block th:replace="/customer/modalCreate :: modelCrate "></th:block>
<th:block th:replace="/customer/modalDeposit :: modalDeposit "></th:block>
<th:block th:replace="/customer/modalUpdate :: modalUpdate "></th:block>
<th:block th:replace="/customer/modalWithdraw :: modalWithdraw"></th:block>
<th:block th:replace="/customer/modalTransfer :: modalTransfer"></th:block>

<script src="/assets/bootstrap/js/app.page.js"></script>

<th:block th:replace="/script/script :: scipt"></th:block>

<script>

    let customer = new Customer();
    let deposit = new Deposit();
    let withdraw = new Withdraw();
    let transfer = new Transfer();
    let sender = new Sender();
    let recipient = new Recipient();
    // let locationRegion = new LocationRegion();

    // console.log(deposit);

    // let tempCustomer = jQuery.validator.format($.trim($("#tempCustomer").val()));

    function renderCustomer(objCustomr) {


        let str = `
                        <tr id="tr_${objCustomr.id}">
                            <td>${objCustomr.id}</td>
                            <td>${objCustomr.fullName}</td>
                            <td>${objCustomr.email}</td>
                            <th>${objCustomr.phone}</td>
                            <td>${objCustomr.balance}</td>
                            <td>${objCustomr.locationRegion.provinceName}</td>
                            <td>${objCustomr.locationRegion.districtName}</td>
                            <td>${objCustomr.locationRegion.wardName}</td>
                            <td>${objCustomr.locationRegion.address}</td>
                        </tr>

                        `;
        return str;
        // $("#tbListCustomers tbody").prepend(str);
    }


    function loadCustomer(customer) {
        $.ajax({
            headers: {
                'accept': "application/json",
                'Content-Type': "application/json",
            },
            type: 'GET',
            url: "http://localhost:8080/api/customers",
            data: JSON.stringify(customer)
        })
            .done((data) => {
                data.forEach(item => {
                    customer = item;
                    // locationRegion = customer.locationRegion
                    let str = renderCustomer(customer);
                    $("#tbListCustomers tbody").prepend(str);
                });

                App.formatTooltip();
                removeHandleShowModal();
                loadModel();
                // showCreateModal();
                // showUpdateModal();
                // showDepositModal();
                // showWithdrawModal();
                // showTransferModal();
                // showSuspendedModal();
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    loadCustomer();

    function getAllRecipientWithoutSender(senderId) {
        $.ajax({
            headers: {
                'Access': "application/json",
                'Content-Type': "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/customers/getAllRecipientWithoutSender/" + senderId,
        }).done((data) => {
            $("#recipientTrf").empty();

            $.each(data, (i, item) => {
                let str = `
                 <option value= "${item.id} "> (${item.id}) - ${item.fullName}</option>
                `;
                // console.log(str);
                $("#recipientTrf").append(str);
            })
        })
    }

    function getCustomerById(customerId) {
        return $.ajax({
            headers: {
                'Accept': "application/JSON",
                'Content-Type': "application/JSON"
            },
            type: "GET",
            url: "http://localhost:8080/api/customers/" + customerId,
        })
            .done((data) => {

                customer = data;
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            });
    }


    // showDepositModal
    $(".create").on("click", function () {
        $("#modalCreateCustomer").modal("show")
    })

    $("#btnCreateCustomer").on("click", function () {
        customer.fullName = $("#fullName").val();
        customer.email = $("#email").val();
        customer.phone = $("#phone").val();
        customer.address = $("#address").val();
        customer.balance = 0;
        customer.deleted = 0;

        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/customers/create",
            data: JSON.stringify(customer)
        }).done((data) => {
            // customer = data;

            // let str = renderCustomer(customer);
            // let updateRow = $("#tr_" + customer.id).replaceWith(str);

            renderCustomer(data);
            let str = renderCustomer(data);
            $("#tbListCustomers tbody").prepend(str);

            App.showSuccessAlert("Successful data generation !");
            App.formatTooltip();
            // loadModel();

            $('#modalCreateCustomer').modal('hide');

        }).fail((jqXHR) => {

            console.log(jqXHR)
        });
    });


    function showUpdateModal() {
        $(".edit").on("click", function () {
            let customerId = $(this).data("id");

            console.log(customerId);
            getCustomerById(customerId).then(() => {
                $("customerIdUp").val(customerId);
                $("#fullNameUp").val(customer.fullName);
                $("#emailUp").val(customer.email);
                $("#phoneUp").val(customer.phone);
                $('#addressUp').val(customer.address);

                $("#modalUpdateCustomer").modal("show");

            }).catch(() => {
                alert("error")
            })


        })
    }

    $("#btnUpdateCustomer").on("click", function () {
        // let customerId = $("#customerIdUp").val();
        // let customerId = $(this).data("#customerIdUp");

        // console.log(customerId);

        customer.fullName = $("#fullNameUp").val();
        customer.email = $("#emailUp").val();
        customer.phone = $("#phoneUp").val();
        customer.address = $("#addressUp").val();
        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/customers/update/",
            data: JSON.stringify(customer)
        }).done((data) => {

            // let str = renderCustomer(data);
            // let updateRow = $("tr_" + customer.id);
            // updateRow.replaceWith(str);

            customer = data;

            let str = renderCustomer(customer);
            $("#tr_" + customer.id).replaceWith(str);

            removeHandleShowModal();
            loadModel();


            App.showSuccessAlert("Data update successful !");

            // getCustomers();
            $('#modalUpdateCustomer').modal('hide');

        }).fail((jqXHR) => {
            console.log(jqXHR)
        });
    });


    function showDepositModal() {
        $(".deposit").on("click", function () {
            let customerId = $(this).data("id");
            getCustomerById(customerId).then(() => {
                $("#customerIdDep").val(customerId);
                $("#fullNameDep").val(customer.fullName);
                $("#balanceDep").val(customer.balance);
                // $("#transactionAmountDep").val(customer.phone);

                $('#modalDeposit').modal('show');
            }).fail(function () {
                App.showErrorAlert("An error occurred. Please try again later !");
            });
        });
    }

    $("#btnDepositMoney").on("click", function () {

        let customerId = $("#customerIdDep").val();
        console.log(customerId);
        let transactionAmount = +$("#transactionAmountDep").val();
        if (transactionAmount < 0) {
            Swal.fire({
                icon: 'error',
                title: "AAAAAAAA",
                Text: "TransactionAmount must greater than 0"
            })
        } else {
            customer.balance = customer.balance + transactionAmount;
            delete deposit.id;
            deposit.customer = customer;
            deposit.transactionAmount = transactionAmount;
            console.log(deposit)
            $.ajax({
                type: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "http://localhost:8080/api/deposit/create",
                data: JSON.stringify(deposit)
            }).done((data) => {
                customer = data;

                let str = renderCustomer(customer);
                $("#tr_" + customer.id).replaceWith(str);

                removeHandleShowModal();
                loadModel();

                App.showSuccessAlert("Successful deposit transaction !");
                $('#modalDeposit').modal('hide');

            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        }

    });
    $("#modalDeposit").on("hidden.bs.modal", function () {
        $('#frmDeposit')[0].reset();
    })

    function showWithdrawModal() {
        $(".withdraw").on("click", function () {
            let customerId = $(this).data("id");
            getCustomerById(customerId).then(() => {
                $("#customerIdwh").val(customerId);
                $("#fullNamewh").val(customer.fullName);
                $("#balancewh").val(customer.balance);
                // $("#transactionAmountDep").val(customer.phone);

                $('#modalWithdraw').modal('show');
            }).fail(function () {
                App.showErrorAlert("An error occurred. Please try again later !");
            });
        });
    }

    $("#btnWithdrawMoney").on("click", function () {
        let customerId = $("#customerIdwh").val();
        console.log(customerId);
        let transactionAmount = +$("#transactionAmountwh").val();
        if (transactionAmount > customer.balance) {
            Swal.fire({
                icon: 'error',
                title: "AAAAAAAA",
                Text: "TransactionAmount must greater than 0"
            })
        } else {
            customer.balance = customer.balance - transactionAmount;
            delete withdraw.id;
            withdraw.customer = customer;
            withdraw.transactionAmount = transactionAmount;
            // console.log(withdraw);
            $.ajax({
                type: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "http://localhost:8080/api/withdraw/create",
                data: JSON.stringify(withdraw)
            }).done((date) => {

                customer = date;

                let str = renderCustomer(customer);
                $("#tr_" + customer.id).replaceWith(str);


                App.showSuccessAlert("Successful withdraw transaction !");

                removeHandleShowModal();

                loadModel();

                $('#modalWithdraw').modal('hide');

            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        }
    });


    function showTransferModal() {
        $(".transfer").on("click", function () {
            let customerId = $(this).data("id");
            getCustomerById(customerId).then(() => {
                $("#senderIdTrf").val(customerId);
                $("#nameSenderTrf").val(customer.fullName);
                $("#emailTrf").val(customer.email)
                $("#balanceTrf").val(customer.balance);

                getAllRecipientWithoutSender(customerId);


                $('#modalTransfer').modal('show');
            }).catch(() => {
                alert("Error");
            });
        });
    }

    // $.ajax({
    //     type: "GET",
    //     url: "http://localhost:8080/api/customers",

    // }).done(() => {
    // let str = `<option value = 0> Recipient </option>`;
    // $.each(data, (j, item) => {
    //     if ($(this).data("id") != item.id) {
    //         str += `
    //                  <option value = '${item.id}'>(${item.id})${item.fullName}</option>`;
    //     }
    // });
    // document.getElementById("recipientTrf").innerHTML = str;
    // getAllRecipientWithoutSender(customerId);
    // })
    // $("#transactionAmountDep").val(customer.phone);

    // }).fail(function () {
    //     App.showErrorAlert("An error occurred. Please try again later !");
    // });


    // $("#btnTransferMoney").on("click", function () {
    //
    //     // let customerId = $("#senderIdTrf").val();
    //     let transferAmount = $("#transferAmountTrf").val();
    //     let recipientId = $("#recipientTrf").val();
    //     let senderId = $("#senderIdTrf").val();
    //     let fees = 10;
    //     // console.log(transferAmount);
    //     // console.log(recipientId);
    //     // console.log(senderId);
    //
    //     if (transferAmount > customer.balance) {
    //         Swal.fire({
    //             icon: 'error',
    //             title: "AAAAAAAA",
    //             text: "TransferAmount must greater than balance"
    //         })
    //     } else {
    //         transfer.id = senderId;
    //         transfer.sender = $("#nameSenderTrf").val();
    //         transfer.recipient = recipientId;
    //         // transfer.recipientName = $("#nameRecipientTrf").val();
    //         transfer.transferAmount = transferAmount;
    //         transfer.fees = fees;
    //         transfer.feesAmount = (transferAmount * fees) / 100;
    //         console.log(senderId + sender + recipientId + transferAmount + transfer.feesAmount )
    //         getCustomerById(recipientId).then((data) => {
    //             customer.balance = (+data.balance) + (+transferAmount);
    //             $.ajax({
    //                 type: "POST",
    //                 headers: {
    //                     'Accept': 'application/json',
    //                     'Content-Type': 'application/json'
    //                 },
    //                 url: "http://localhost:8080/api/customers/transfer" ,
    //                 data: JSON.stringify(customer)
    //             }).done(() => {
    //                 getCustomerById(senderId).then((data) => {
    //                     customer.balance = (+data.balance) - (+transferAmount * (110 / 100));
    //                     $.ajax({
    //                         type: "PATCH",
    //                         headers: {
    //                             'Accept': 'application/json',
    //                             'Content-Type': 'application/json'
    //                         },
    //                         url: "http://localhost:8080/api/customers/" + senderId,
    //                         data: JSON.stringify(customer)
    //
    //                     }).done(() => {
    //                         $.ajax({
    //                             headers: {
    //                                 "Accept": "application/json",
    //                                 "Content-Type": "application/json"
    //                             },
    //                             type: "POST",
    //                             url: "http://localhost:8080/api/customers/transfer",
    //                             data: JSON.stringify(transfer)
    //                         }).done(() => {
    //                             let str = renderCustomer(customer);
    //                             let updateRow = $("#tr_" + customer.id).replaceWith(str);
    //
    //                             App.showSuccessAlert("Successful transfer transaction !");
    //                             App.formatTooltip();
    //                             loadModel();
    //                             $('#modalTransfer').modal('hide');
    //                         }).fail((jqXHR) => {
    //                             console.log(jqXHR);
    //
    //                         });
    //
    //                         // let str = renderCustomer(customer);
    //                         // let updateRow = $("#tr_" + customer.id).replaceWith(str);
    //
    //                         // App.showSuccessAlert("Successful transfer transaction !");
    //                         // App.formatTooltip();
    //                         // loadModel();
    //                         // $('#modalTransfer').modal('hide');
    //
    //
    //                     }).fail((jqXHR) => {
    //                         console.log(jqXHR);
    //                     })
    //                 });
    //                 let str = renderCustomer(customer);
    //                 let updateRow = $("#tr_" + customer.id).replaceWith(str);
    //
    //             }).fail((jqXHR) => {
    //                 console.log(jqXHR);
    //             })
    //         })
    //     }
    //     ;
    //
    // });

    $("#btnTransferMoney").on("click", function () {
        // let customerId = $("#senderIdTrf").val();
        let transferAmount = +$("#transferAmountTrf").val();
        let recipientId = +$("#recipientTrf").val();
        let senderId = +$("#senderIdTrf").val();
        // let fees = 10;
        // console.log(transferAmount);
        // console.log(recipientId);
        // console.log(senderId);
        if (transferAmount > customer.balance) {
            Swal.fire({
                icon: 'error',
                title: "AAAAAAAA",
                text: "TransferAmount must greater than balance"
            })
        } else {
            delete transfer.id;
            transfer.senderId = senderId;
            transfer.recipientId = recipientId;
            // transfer.recipientName = $("#nameRecipientTrf").val();
            transfer.transferAmount = transferAmount;
            // transfer.fees = fees;
            // transfer.feesAmount = (transferAmount * fees) / 100;

            console.log("senderid:" + senderId + "idreci: " + recipientId + "trfAm:" + transferAmount)

            $.ajax({
                type: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "http://localhost:8080/api/customers/transfer",
                data: JSON.stringify(transfer)
            }).done((data) => {

                customer = data.sender;
                console.log(customer)
                let str = renderCustomer(customer);
                $("#tr_" + customer.id).replaceWith(str);
                // replaceRow(data)
                //
                //
                // customer = data.recipientId;
                // replaceRow(customer);
                customer = data.recipient;
                console.log(customer)
                let strs = renderCustomer(customer);
                $("#tr_" + customer.id).replaceWith(strs)


                removeHandleShowModal();
                loadModel();

                // let stsr = renderCustomer(customer);
                // $("#tr_" + customer.id).replaceWith(str);

                App.showSuccessAlert("Successful transfer transaction !");
                App.formatTooltip();
                // loadModel();
                $('#modalTransfer').modal('hide');

            }).fail(() => {
                App.showErrorAlert("An error occurred. Please try again later!");
            });
        }
    });

    function replaceRow(data) {
        let str = renderCustomer(data);
        let updateRow = $("tr_" + customer.id);
        updateRow.replaceWith(str);
    }

    $("#transferAmountTrf").on("input", function () {
        let transferAmount = $("#transferAmountTrf").val();
        let fees = 10;
        let feesAmount = (transferAmount * fees) / 100;
        let total = Number(feesAmount) + Number(transferAmount);
        $("#transactionAmountTrf").val(total);
    })


    $("#tbListCustomers").on("click", ".suspended", function () {
        customer.id = $(this).data('id');
        $("#currentRow").val($(this).closest("tr").attr("id"));
        showSuspendedModal();
    });

    function showSuspendedModal() {

        let customerId = customer.id;
        console.log(customerId);
        App.showSuspendedConfirmDialog()
            .then((result) => {
                if (result.isConfirmed) {

                    doDelete(customerId);
                    // $.ajax({
                    //     type: "POST",
                    //     headers: {
                    //         'Accept': 'application/json',
                    //         'Content-Type': 'application/json'
                    //     },
                    //     url: "http://localhost:8080/api/customers/delete/" + customer.id,
                    //     data: JSON.stringify(customer)
                    // }).done((data) => {
                    //     renderCustomer(data);
                    //     let str = renderCustomer(data);
                    //     $("#tbListCustomers tbody").prepend(str);
                    //     // $("#tr_" + customer.id).remove();
                    //     App.showSuccessAlert("Succeeded client suspension!");
                    //
                    // }).fail(() => {
                    //     App.showErrorAlert("An error occurred. Please try again later!");
                    // });
                }
            });

    }

    function doDelete(customerId) {
        $.ajax({
            type: "POST",
            headers: {
                'accept': "application/json",
                'content-type': "application/json"
            },
            url: "http://localhost:8080/api/customers/delete/" + customerId,
        }).done((data) => {

            $("#tr_" + customerId).remove();

            removeHandleShowModal();
            loadModel();
            App.showSuccessAlert("Succeeded client suspension!");

        }).fail(() => {
            App.showErrorAlert("An error occurred. Please try again later!");

        })
    }

    function loadModel() {
        showUpdateModal();
        showDepositModal();
        showWithdrawModal();
        showTransferModal();
        // showSuspendedModal();
    }

    function removeHandleShowModal() {
        $(".edit").off("click");
        $(".deposit").off("click");
        $(".withdraw").off("click");
        $(".delete").off("click");
    }


</script>

<!-- end container -->

<!-----deposit-->

<!--$.ajax({-->
<!--type: "POST",-->
<!--headers: {-->
<!--'Accept': 'application/json',-->
<!--'Content-Type': 'application/json'-->
<!--},-->
<!--url: "http://localhost:8080/api/deposit",-->
<!--data: JSON.stringify(deposit)-->
<!--}).done(() => {-->
<!--let str = renderCustomer(customer);-->
<!--let updateRow = $("#tr_" + customer.id).replaceWith(str);-->
<!--// showDepositModal();-->
<!--App.showSuccessAlert("Successful deposit transaction !");-->

<!--$('#modalDeposit').modal('hide');-->
<!--}).fail((jqXHR) => {-->
<!--console.log(jqHR);-->
<!--})-->


</body>
</html>