<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalUpdate">
    <div class="modal fade" id="modalUpdateCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog container " role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate="novalidate" id="frmUpdateCustomer">
                        <fieldset class="row g-3">
                            <input type="hidden" id="customerIdUp">
                            <div class="col-md-6">
                                <label class="form-label">Full name</label>
                                <input type="text" class="form-control" id="fullNameUp" name="fullNameUp">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control error" id="emailUp" name="emailUp"
                                       aria-invalid="true">
                                <!--                <label id="email-error" class="error text-danger" for="email"></label>-->
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phoneUp" name="phoneUp">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" id="addressUp" name="addressUp">
                            </div>
                            <div class=" col-md-12">

                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdateCustomer" class="btn btn-outline-primary ">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Update customer
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
